.ninja {
  display: block;
  width: 80px;
  padding: 15px;
  border: 3px solid #d3b67a;
  margin-bottom: 20px;
  flex-grow: 0;
  background-color: rgba(#fff, 10%);

  img {
    max-width: 100%;
  }
}
