.pagesWrapper  {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  list-style: none;
  background-image: url("./assets/background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.header {
  display: block;
  position: relative;
  z-index: 10;
}

.headerlLogo  {
  display: block;
  width: 180px;
  height:60px;
  position: absolute;
  top: 35px;
  left: 55px;
  color: #fff;
  font-size: 24px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: #7daec9;
  }

  @media (min-width: 1440px) {
    left: 95px;
  }
}

.audio {
  display: block;
  background: none;
  position: absolute;
  top: 30px;
  right: 55px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;

  div  {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url("./assets/music.png");
    background-repeat: no-repeat;
    background-size: 55%;
    background-color: #fff;
    background-position: center center;
    font-size: 0;
    border: 2px solid #7daec9;
    border-radius: 50%;
  }

  span {
    display: block;
    content: "Включить музыку";
    position: absolute;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    right: 70px;
    top: 5px;
    transition: 0.3s;

    &:hover {
      color: #7daec9;
    }
  }

  @media (min-width: 1440px) {
    right: 95px;
  }
}