.app {
  display: block;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #000;

  @media (min-width: 1440px) {
    min-height: 750px;
  }
}


