.PortfolioPage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;

}

.PortfolioPage_slider {
  display: block;
  width: 350px;
  margin-top: 10px;
  margin-right: 40px;

  @media (min-width: 1440px) {
    width: 400px;
    margin-right: 70px;
  }

  & > div {
    padding-bottom: 10px;
  }

  li button:before {
    color: #fff !important;
  }

}

.PortfolioPage_seeBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #d3b67a;
  background-color: #1e1e1e;
  font-size: 16px;
  line-height: 1;
  width: 175px;
  height: 50px;
  margin: 0 auto;
  margin-top: 60px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #d3b67a;
  border-top: 1px solid #d3b67a;
  border-left: 1px solid #d3b67a;
  border-right: 1px solid #d3b67a;
  position: relative;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    color: #d3b67a;
    background-color: #383838;
  }

  @media (min-width: 1440px) {
    margin-top: 70px;
  }
}

.PortfolioPage_content {
  display: block;
}

.PortfolioPage_title {
  display: block;

  font-size: 27px;
  margin-top: 0;
  color: #d3b67a;
}

.PortfolioPage_info {
  display: block;
  width: 400px;
  font-size: 18px;
}

div {
  outline: none !important;
}


img {
  display: block;

  max-width: 100%;
}

.PortfolioPage_techologies {
  display: block;
  margin-top: 40px;
  font-size: 16px;
  color: #9a5252;
}