.container {
  display: block;


}



.examples {
  display: grid;
  height: 100%;

  grid-gap: 5px;
  grid-template-columns: 18vw 18vw 18vw;
  grid-template-rows: 20vh 20vh 20vh;

  padding: 0;
  margin: 0;
  list-style: none;
}

.example {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  overflow: hidden;
  position: relative;
  transition: 0.3s;

  &::after {
    content: "MEOW";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    filter: grayscale(1);

    &::after {
      opacity: 1;
    }
  }
}

.image {
  display: block;
  object-fit: cover;
  max-width: 100%;

}