.mainPage {
  display: block;
  width: 100vw;
  height: 100vh;
  min-height: 550px;
  position: relative;
}

.audio {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 60px;
  background-image: url("./assets/music.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-color: #fff;
  background-position: center center;
  font-size: 0;
  border: 2px solid #7daec9;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &::after {
    display: block;
    content: "Включить музыку";
    position: absolute;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #7daec9;
    white-space: nowrap;
    right: 70px;
    top: 8px;
  }

}

.ninja {
  height: 150px;
  width: 280px;
  position: absolute;
  bottom: 110px;
  right:  60px;

}

.keyboard {
  height: 140px;
  width: 320px;
  position: absolute;
  bottom: 115px;
  left:  50px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.block_content {
  text-align: center;
}

.block_image {
  display: block;
  width: 25%;
  padding: 15px;
  border: 3px solid #d3b67a;
  margin-bottom: 20px;
  flex-grow: 0;
  background-color: rgba(#fff, 10%);

  img {
    max-width: 100%;
  }
}

.block_title {
  display: block;
  margin-bottom: 5px;
  color: #d3b67a;
  font-size: 20px;

}


.block_descr {
  display: block;
  color: #fff;

  span {
    color: #7daec9;
  }
}





.gameWrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 200px rgba(255,255,255,0.3);
  border: 5px solid #d3b67a;
  background-color: #5c9c46;
  box-sizing: border-box;

}

@keyframes arrowsEffect {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.arrows {
  display: block;
}

.arrowLeft,
.arrowTop,
.arrowRight {
  display: block;
  position: absolute;
  background: none;
  color: #fff;
  font-size: 40px;
  border: none;
  pointer-events: none;
  outline: none;
  opacity: 0.5;
  transition: 0.3s;



  animation-name: arrowsEffect;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;



  &::after {
    display: block;
    position: absolute;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
  }
}

.arrowLeft {
  top: 70px;
  left: -60px;

  &::after {
    content: "Посмотреть на трофеи";
    right: 0;
  }
}

.arrowTop {
  top: -70px;
  left: 40.7%;

  &::after {
    content: "Прочитать манускрипт";
    left: 40px;
    bottom: 7px;
  }
}

.arrowRight {
  top: 70px;
  right: -60px;

  &::after {
    content: "Связаться с духами";
    left: 0;
  }
}


