.ContactsPage {
  display: block;
}

.ContactsPage_descr {
  display: block;
  width: 790px;
  padding-right: 150px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 18px;

  .colored {
    display: block;
    color: #d3b67a;
  }

}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style: none;

  li {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media (min-width: 1440px) {
    margin-top: 80px;
  }
}

.social {
  display: block;
  width: 45px;
  height: 45px;
  -webkit-background-size: contain;
  background-size: contain;
  font-size: 0;
  transition: 0.3s;

  &.vk {
    background-image: url('./assets/vk.png');
  }


  &.linkedin {
    background-image: url('./assets/linkedin.png');
  }

  &.facebook {
    background-image: url('./assets/facebook.png');
  }

  &:hover {
    opacity: 0.7;
  }
}

.ContactsPage_descr_ps {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-top: 20px;
  margin-right: -40px;
  font-size: 14px;
  text-align: right;
  color: rgba(#d3b67a, 0.4);

  @media (min-width: 1440px) {
    margin-top: 60px;
    margin-right: -210px;
  }
}